bootstrap_url: http://{{ hostvars[groups['bootstrap'][0]].ansible_default_ipv4.address }}
cluster_name: Test-Cluster
customer_key: 2db1937b-7944-81b9-7966-44648031969f
exhibitor_storage_backend: static
master_discovery: static
master_list:
{% for host in groups['masters'] %}
- {{ hostvars[host].ansible_default_ipv4.address }}
{% endfor %}
resolvers:
- 169.254.169.253
- 8.8.8.8
security: permissive
