bootstrap_url: http://{{ hostvars[groups['bootstrap'][0]].ansible_default_ipv4.address }}
cluster_name: Test-Cluster
customer_key: 12345-12345-12345-12345-12345-123456
exhibitor_storage_backend: static
master_discovery: static
master_list:
{% for host in groups['masters'] %}
- {{ hostvars[host].ansible_default_ipv4.address }}
{% endfor %}
resolvers:
- 100.100.2.136
- 100.100.2.138
security: permissive
